USE [master]
GO
/****** Object:  Database [expensetracker]    Script Date: 14-Mar-22 19:25:30 ******/
CREATE DATABASE [expensetracker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'expensetracker', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\expensetracker.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'expensetracker_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\expensetracker_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [expensetracker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [expensetracker]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 14-Mar-22 19:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[TaxNumber] [varchar](50) NOT NULL,
	[creationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_COMPANIES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Companie__34A7C17924968E64] UNIQUE NONCLUSTERED 
(
	[TaxNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 14-Mar-22 19:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[StoreId] [int] NOT NULL,
	[ItemStoreCode] [varchar](50) NOT NULL,
	[creationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ITEMS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceiptItems]    Script Date: 14-Mar-22 19:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiptItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[Quantity] [decimal](9, 3) NOT NULL,
	[Price] [decimal](9, 3) NOT NULL,
 CONSTRAINT [PK_RECEIPTITEMS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipts]    Script Date: 14-Mar-22 19:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[StoreId] [int] NOT NULL,
	[originalReceiptId] [varchar](60) NOT NULL,
	[PurchaseDate] [datetime] NOT NULL,
	[TotalSum] [decimal](9, 3) NOT NULL,
	[StoreTagId] [int] NULL,
	[creationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_RECEIPTS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 14-Mar-22 19:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](150) NOT NULL,
	[TaxNumber] [varchar](100) NOT NULL,
	[creationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_STORES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreTags]    Script Date: 14-Mar-22 19:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[creationDate] [datetime] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[isPublic] [bit] NOT NULL,
 CONSTRAINT [PK_STORETAGS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14-Mar-22 19:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [nvarchar](50) NOT NULL,
	[Lastname] [nvarchar](50) NOT NULL,
	[EmailAddress] [varchar](255) NOT NULL,
	[PhoneNumber] [varchar](45) NOT NULL,
	[Password] [varchar](150) NOT NULL,
	[Token] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[creationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Users__87909B156E26680C] UNIQUE NONCLUSTERED 
(
	[Password] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StoreTags] ADD  CONSTRAINT [DF__StoreTags__isPub__35BCFE0A]  DEFAULT ('0') FOR [isPublic]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__IsActive__25869641]  DEFAULT ('0') FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__IsAdmin__267ABA7A]  DEFAULT ('0') FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [Items_fk0] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [Items_fk0]
GO
ALTER TABLE [dbo].[ReceiptItems]  WITH CHECK ADD  CONSTRAINT [ReceiptItems_fk0] FOREIGN KEY([ReceiptId])
REFERENCES [dbo].[Receipts] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ReceiptItems] CHECK CONSTRAINT [ReceiptItems_fk0]
GO
ALTER TABLE [dbo].[Receipts]  WITH CHECK ADD  CONSTRAINT [Receipts_fk0] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Receipts] CHECK CONSTRAINT [Receipts_fk0]
GO
ALTER TABLE [dbo].[Receipts]  WITH CHECK ADD  CONSTRAINT [Receipts_fk1] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Receipts] CHECK CONSTRAINT [Receipts_fk1]
GO
ALTER TABLE [dbo].[Receipts]  WITH CHECK ADD  CONSTRAINT [Receipts_fk3] FOREIGN KEY([StoreTagId])
REFERENCES [dbo].[StoreTags] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Receipts] CHECK CONSTRAINT [Receipts_fk3]
GO
ALTER TABLE [dbo].[Stores]  WITH CHECK ADD  CONSTRAINT [Stores_fk0] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Stores] CHECK CONSTRAINT [Stores_fk0]
GO
ALTER TABLE [dbo].[StoreTags]  WITH CHECK ADD  CONSTRAINT [FK_StoreTags_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[StoreTags] CHECK CONSTRAINT [FK_StoreTags_Users]
GO
USE [master]
GO
